$base-color: darkblue;
$important-color: darken($base-color, 20%);
$warning-color: lighten($base-color, 20%);

$border-color: grey;

$box-shadow: 15px 15px 15px 0px rgb(0, 0, 0.3);

$principal-font-family: Arial; 
$secondary-font-family: Arial; 

$principal-font-weight: 200; 
$secondary-font-weight: bold; 