body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
nav {
  background-color: #008c86;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav__item {
  padding: 1rem;
  color: white;
  text-decoration: none;
}
.nav__item:hover {
  background-color: #246462;
}

@media screen and (max-width: 640px) {
  body {
    padding: 1rem;
  }
  nav {
    flex-direction: column;
  }
  .nav__item {
    text-align: center;
  }
}
