.gallery-container {
  width: calc(100% -200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  .main-image {
    img {
      width: 200px;
      height: 160px;
      object-fit: cover;
    }
  }
  .list-images {
    width: 100%;
    padding: 1.5rem;
    height: 120px;
    display: flex;
    justify-content: center;
    &__item:not(:first-child) {
      margin-left: 1.5rem;
    }
    &__item {
      border: 1px solid lightgrey;
      border-radius: 5px;
      img {
        width: 140px;
        height: 100%;
        object-fit: cover;
        &.selected {
          border: 2.5px lightgreen solid;
        }
      }
    }
  }
}
